h1{
    text-align: center;
    font-size: 4vw;
    color: rgb(255, 165, 0);
}
#mainP{
    text-align: center; 
    color: white; 
    margin: 15px; 
    font-size: 2.5vw;
}
#generalBlock{
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    margin: auto;
    padding-bottom: 25px;
    border-radius: 5px;
    border: 5px solid darkturquoise;
    font-size: 30px;
    width: 50%;
}

.inputBlockBtn{
    width: 60%;    
    padding: 12px 20px;
    margin: 10px 20%;
    font-size: 2vw;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#inputBlockInput{
    width: 60%;    
    padding: 12px 20px;
    margin: 10px 20%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
}

#clearBtn{
    width: 50%; 
    margin: auto; 
    margin-top: 5px;
    display: none;
}

#details{
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 40px;
    margin-left: 5%;
}

#img{
    display: inline-block;
    margin-left: 60%;
    width: 30%;
} 

.detailsP{
    font-size: 2vw; 
    line-height: 1vw;
}

.inputBlockBtn:hover {
    background-color: #008CBA;
    color: white;
}

#cityName{
    margin: 2vw;
    color: white;     
    display: inline-block; 
    font-size: 6vw;      
}

#temperature{
    color: white;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
    font-size: 10vw;
}

@media(max-width: 800px){
    #generalBlock{
        width: 80%;
    }
    header > h1{
        font-size: 6vw;
    }
    #mainP{
        font-size: 5vw;
        margin: 8px;
    }
    .inputBlockBtn{
        font-size: 4vw;        
    }
    #clearBtn{
        width: 80%;
    }
    #inputBlockInput{
        padding: 6px 10px;
        font-size: 12px;
        margin: 3px 20%;
    }
    .detailsP{
        font-size: 3vw;
    }
    #temperature{
        font-size: 12vw;
    }
    #cityName{
        font-size: 9vw;
    }
}



 